{% extends 'layouts/base.html' %}
{% block 'title' %}Comparativa{% endblock  %}
{% block 'content' %}
<h2> Consulta comparativa </h2>
<fieldset>
    
    <form action="/comparacion/" method="POST">
        {% csrf_token %}
        <hr/>
            <label for="fechainicial">Desde: </label>
            <input name="fechainicial" id="fechainicial" autocomplete="off" type="date"></input>

            <label for="fechafinal">Hasta: </label>
            <input name="fechafinal" id="fechafinal" autocomplete="off" type="date" ></input>
            
            <button class = "btn btn-success" style="background-color:rgb(0,0,85)" >Buscar</button>
        <hr/>

        <div>
            <input type="radio" id="pet01" name="pet01" value="pet01">
            <label for="pet01">PET01</label>
        </div>

        <div>
            <input type="radio" id="pet02" name="pet02" value="pet02">
            <label for="pet02">PET02</label>
        </div>

        <div>
            <input type="radio" id="pet03" name="pet03" value="pet03">
            <label for="pet03">PET03</label>
        </div>

        <div>
            <input type="radio" id="pet04" name="pet04" value="pet04">
            <label for="pet04">PET04</label>
        </div>

        <div>
            <input type="radio" id="pet05" name="pet05" value="pet05">
            <label for="pet05">PET05</label>
        </div>

        <div>
            <input type="radio" id="pet06" name="pet06" value="pet06">
            <label for="pet06">PET06</label>
        </div>

        <div>
            <input type="radio" id="pet07" name="pet07" value="pet07">
            <label for="pet07">PET07</label>
        </div>

        <div>
            <input type="radio" id="pet08" name="pet08" value="pet08">
            <label for="pet08">PET08</label>
        </div>

        <div>
            <input type="radio" id="pet09" name="pet09" value="pet09">
            <label for="pet09">PET09</label>
        </div>

        <div>
        </div>
    </form>
</fieldset>

<hr/>
<h2>Informe de ventas de la zona</h2>
<hr/>
    <div class = "container">
        <div class = "row">
            <div class = "cold-md-4.offset-md-4">
                <div class = "tile">
                    <div class = "tile-body">
                        <div class = "table-resposive">
                            <table class = "table table-hover table-bordered" id = "tablafacturas">
                                <thead class = "table-dark " > 
                                    <tr>
                                        <th>Id Maquina</th>
                                        <th>Total ventas</th>                                      
                                    </tr>        
                                </thead>
                                <tbody>            
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>                                          
                                </tbody>            
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr/>
{% endblock  %}