{% extends 'layouts/base.html' %}
{% block 'title' %}Ventas{% endblock  %}
{% block 'content' %}

<h2>Reporte de ventas por Zona</h2>
<hr/>
<div> 
    <form action="/ventas/" method="POST">
        {% csrf_token %}
        <div> 
            <select name="fecha" id="fecha">
                <option value="default">Seleccione una opción</option>
                <option value="hoy">Hoy</option>
                <option value="ayer">Ayer</option>
                <option value="semana">Esta Semana</option>
                <option value="mes">Este mes</option>
                <option value="rango">Rango de fechas</option>
            </select>

            <label for="fechainicial">Desde: </label>
            <input name="fechainicial" id="fechainicial" autocomplete="off" type="date"></input>
            <label for="fechafinal">Hasta: </label>
            <input name="fechafinal" id="fechafinal" autocomplete="off" type="date" ></input>
            <div style = "display: flex; justify-content: center; align-items: center; spacing: 20px; padding: 50px;" >
            <button class = "btn btn-success" style="background-color:rgb(0,0,85)" >Filtrar</button>
            </div>
        </div>
    </form>    
</div>
<hr/>
{% if estado == 1 %}
<div class = "container">
    <div class = "row">
        <div class = "cold-md-4.offset-md-4">
            <div class = "tile">
                <div class = "tile-body">
                    <div class = "table-resposive">
                        <table class = "table table-hover table-bordered" id = "tablafacturas">
                            <thead class = "table-dark " style="background-color:rgb(0,0,85); color:black;" > 
                                <tr style = "background-color:rgb(0,0,85); color:black;" >
                                    <th style = "Color: white;">Zona</th> 
                                    <th styke = "color: white;">Id Maquina</th>   
                                    <th style = "Color: white;">Placas Vendidas</th>   
                                    <th style = "Color: white;">Total ventas</th>                                                       
                                </tr>        
                            </thead>
                            <tbody>      
                            
                                <tr>
                                    <td>Galerias</td>
                                    <td>{{venta1}}</td>
                                    <td>{{total1}}</td>
                                </tr>                                          
                                
                                <tr class = "table-dark" >
                                    <td style = "Color: white;">Total</td>
                                    <td style = "Color: white;">{{placas}}</td>
                                    <td style = "Color: white;">{{Total}}</td>
                                </tr> 

                            </tbody>            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<h2>Grafico de ventas por Zona</h2>
<div>
    <div id="piechart" style="width: 900px; height: 600px;"></div>
</div>
{% endif %}
{% endblock  %}