{% extends 'layouts/base.html' %}
{% block 'title' %}Ventas{% endblock  %}
{% block 'content' %}

<h2>Reporte de ventas por Zona</h2>
<hr/>
<div> 
    <form action="/ventas/" method="POST">
        {% csrf_token %}
        <div> 
            <select name="fecha" id="fecha">
                <option value="default">Seleccione una opción</option>
                <option value="hoy">Hoy</option>
                <option value="ayer">Ayer</option>
                <option value="semana">Esta Semana</option>
                <option value="mes">Este mes</option>
                <option value="rango">Rango de fechas</option>
            </select>

            <label for="fechainicial">Desde: </label>
            <input name="fechainicial" id="fechainicial" autocomplete="off" type="date"></input>
            <label for="fechafinal">Hasta: </label>
            <input name="fechafinal" id="fechafinal" autocomplete="off" type="date" ></input>
        
            <button class = "btn btn-success" style="background-color:rgb(0,0,85)" >Filtrar</button>
        </div>
    </form>
    <hr/>
    <form class= "form1" action="/pdf/" method="POST">
        {% csrf_token %}
        <button class = "btn btn-success" style="background-color:rgb(0,0,85)"> Generar PDF </button>
    </form>
    <hr/>
</div>
<hr/>
<div class = "container">
    <div class = "row">
        <div class = "cold-md-4.offset-md-4">
            <div class = "tile">
                <div class = "tile-body">
                    <div class = "table-resposive">
                        <table class = "table table-hover table-bordered" id = "tablafacturas">
                            <thead class = "table-dark " style="background-color:rgb(0,0,85); color:black;" > 
                                <tr >
                                    <th>Zona</th>   
                                    <th>Placas Vendidas</th>   
                                    <th>Total ventas</th>                                                       
                                </tr>        
                            </thead>
                            <tbody>      
                            
                                <tr>
                                    <td>Galerias</td>
                                    <td>{{venta1}}</td>
                                    <td>{{total1}}</td>
                                </tr>                                          
                                <tr>
                                    <td>Oviedo</td>
                                    <td>{{venta2}}</td>
                                    <td>{{total2}}</td>
                                </tr> 
                                <tr>
                                    <td>Plaza Imperial</td>
                                    <td>{{venta3}}</td>
                                    <td>{{total3}}</td>
                                </tr> 
                                <tr>
                                    <td>Centro Mayor</td>
                                    <td>{{venta4}}</td>
                                    <td>{{total4}}</td>
                                </tr> 
                                <tr>
                                    <td>El Eden</td>
                                    <td>{{venta5}}</td>
                                    <td>{{total5}}</td>
                                </tr> 
                                <tr>
                                    <td>Gran Plaza Bosa</td>
                                    <td>{{venta6}}</td>
                                    <td>{{total6}}</td>
                                </tr> 
                                <tr>
                                    <td>Gran Plaza Soacha</td>
                                    <td>{{venta7}}</td>
                                    <td>{{total7}}</td>
                                </tr> 
                                <tr>
                                    <td>Nuestro Bogota</td>
                                    <td>{{venta8}}</td>
                                    <td>{{total8}}</td>
                                </tr> 
                                <tr>
                                    <td>Pet Asistida</td>
                                    <td>{{venta9}}</td>
                                    <td>{{total9}}</td>
                                </tr> 
                                <tr>
                                    <td>Diver Plaza</td>
                                    <td>{{venta10}}</td>
                                    <td>{{total10}}</td>
                                </tr> 
                                <tr>
                                    <td>Elena</td>
                                    <td>{{venta11}}</td>
                                    <td>{{total11}}</td>
                                </tr> 
                                <tr>
                                    <td>Gran Plaza Medellin</td>
                                    <td>{{venta12}}</td>
                                    <td>{{total12}}</td>
                                </tr> 
                                <tr>
                                    <td>Altavista</td>
                                    <td>{{venta13}}</td>
                                    <td>{{total13}}</td>
                                </tr> 
                                <tr>
                                    <td>Cabecera Cuarto Etapa</td>
                                    <td>{{venta14}}</td>
                                    <td>{{total14}}</td>
                                </tr> 
                                <tr>
                                    <td>Bulevar Niza</td>
                                    <td>{{venta15}}</td>
                                    <td>{{total15}}</td>
                                </tr> 
                                <tr>
                                    <td>Mexico</td>
                                    <td>{{venta16}}</td>
                                    <td>{{total16}}</td>
                                </tr> 
                                <tr>
                                    <td>Cañaveral</td>
                                    <td>{{venta17}}</td>
                                    <td>{{total17}}</td>
                                </tr> 
                                <tr>
                                    <td>Puerta del Norte</td>
                                    <td>{{venta18}}</td>
                                    <td>{{total18}}</td>
                                </tr> 
                                <tr>
                                    <td>El punto de la Oriental</td>
                                    <td>{{venta19}}</td>
                                    <td>{{total19}}</td>
                                </tr> 
                                <tr style="background-color:rgb(0,0,85); color:black;" >
                                    <td>Total</td>
                                    <td>{{placas}}</td>
                                    <td>{{Total}}</td>
                                </tr> 

                            </tbody>            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<h2>Grafico de ventas por Zona</h2>
<div>
    <div id="piechart" style="width: 900px; height: 600px;"></div>
</div>

{% endblock  %}